{% extends "admin_base.html" %}

{% block topbar %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% for mes in get_flashed_messages() %}
    <script>alert("{{ mes }}")</script>
    {% endfor %}

<form method="post">

    {{ form.csrf_token  }}
    {{ form.name.label() }}
    {{ form.name }}
{#<br>#}
    {{ form.summary.label() }}
    {{ form.summary(clos=30,rows=5) }}
{#<br>#}
    {{ form.content.label() }}
    {{ form.content(cols=100,rows=15) }}
{#    <br>#}
{#    {{ pagedown.include_pagedown() }}#}
{#<br>#}
    {{ form.submit }}
</form>
{% endblock %}


{% block footbar %}
    {{ super() }}
{% endblock %}


{% block js %}
    {{ super() }}
{% endblock %}