<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title> 欢迎登陆/注册</title>
	<script type="text/javascript" src="static/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="static/js/login.js"></script>
	<link href="static/css/login2.css" rel="stylesheet" type="text/css" />
</head>

<body>




{% for mes in get_flashed_messages() %}
<script>alert("{{ mes }}")</script>
{% endfor %}

{#{% if current_user.is_authenticated %}#}
{#<script type="application/javascript">#}
{#    alert("您已经登录，请不要重复登录！")#}
{#    window.history.back(-1);#}
{#</script>#}
{#{% endif %}#}

<h1><a href={{ url_for("main.index") }}>Li's Blog</a><sup>V2018</sup></h1>

<div class="login" style="margin-top:50px;">
    
    <div class="header">
        <div class="switch" id="switch"><a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);" tabindex="7">快速登录</a>
			<a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">快速注册</a><div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
        </div>
    </div>    
  
    
    <div class="web_qr_login" id="web_qr_login" style="display: block; height: 235px;">    

            <!--登录-->
            <div class="web_login" id="web_login">
               
               
               <div class="login-box">
    
            
			<div class="login_form">
				<form action="" method="post" name="loginform" accept-charset="utf-8" id="login_form" class="loginForm" >
                    <input type="hidden" name="did" value="0"/>
                    <input type="hidden" name="to" value="log"/>
                <div class="uinArea" id="uinArea">
                    {{ login.email.label(class="input-tips") }}
                <div class="inputOuter" id="uArea">
                    {{ login.email(class="inputstyle",id="login_email") }}
{#                    <input type="text" id="u" name="username" class="inputstyle"/>#}
                </div>
                </div>
                <div class="pwdArea" id="pwdArea">
                    {{ login.password.label(class="input-tips") }}
{#               <label class="input-tips" for="p">密码：</label> #}
               <div class="inputOuter" id="pArea">
                    {{ login.password(class="inputstyle",id="login_password") }}

{#                    <input type="password" id="p" name="p" class="inputstyle"/>#}
                </div>
                </div>
               
                <div style="padding-left:50px;margin-top:20px;">
                    {{ login.submit_log(style="width:150px;",class="button_blue") }}

{#                    <input type="submit" value="登 录" style="width:150px;" class="button_blue"/>#}
                </div>
              </form>
           </div>
           
            	</div>
               
            </div>
            <!--登录end-->
  </div>

  <!--注册-->
    <div class="qlogin" id="qlogin" style="display: none; ">
   
    <div class="web_login">
        <form action="" method="post" id="regUser" name="form2" accept-charset="utf-8"  >
{#	      <input type="hidden" name="to" value="reg"/>#}
{#            <input type="hidden" name="did" value="0"/>#}
        <ul class="reg_form" id="reg-ul">
        		<div id="userCue" class="cue">快速注册请注意格式</div>
                <li>
                	{{ reg.username.label(class="input-tips2") }}
{#                    <label for="user"  class="input-tips2">用户名：</label>#}
                    <div class="inputOuter2">
                        {{ reg.username(class="inputstyle2",id="reg_username") }}
{#                        <input type="text" id="user" name="user" maxlength="16" class="inputstyle2"/>#}
                    </div>
                    
                </li>
                
                <li>
                    {{ reg.password.label(class="input-tips2") }}
{#                <label for="passwd" class="input-tips2">密码：</label>#}
                    <div class="inputOuter2">
                        {{ reg.password(class="inputstyle2",id="reg_password1") }}
{#                        <input type="password" id="passwd"  name="passwd" maxlength="16" class="inputstyle2"/>#}
                    </div>
                    
                </li>
                <li>
                    {{ reg.password2.label(class="input-tips2") }}
{#                <label for="passwd2" class="input-tips2">确认密码：</label>#}
                    <div class="inputOuter2">
                        {{ reg.password2(class="inputstyle2",id="reg_password2") }}
{#                        <input type="password" id="passwd2" name="" maxlength="16" class="inputstyle2" />#}
                    </div>
                    
                </li>
                
                <li>
                    {{ reg.email.label(class="input-tips2") }}
{#                 <label for="qq" class="input-tips2">邮箱：</label>#}
                    <div class="inputOuter2">
                       {{ reg.email(class="inputstyle2",id="reg_email") }}
{#                        <input type="text" id="qq" name="qq" maxlength="10" class="inputstyle2"/>#}
                    </div>
                   
                </li>
                
                <li>
                    <div class="inputArea">
                        {{ reg.submit_reg(style="margin-top:10px;margin-left:85px;",class="button_blue",value="同意协议并注册") }}
{#                        <input type="button" id="reg"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="同意协议并注册"/>#}
                        <a href="#" class="zcxy" target="_blank">注册协议</a>
                    </div>
                    
                </li><div class="cl"></div>
            </ul></form>
           
    
    </div>
   
    
    </div>
    <!--注册end-->
</div>

</body></html>